<div class="container-footer">
    <div class="data-container">
        <a class="imprint" routerLink="/imprint">Imprint</a>
        <a class="imprint" routerLink="/data-protection">Data Protection</a>
    </div>
    <div>
        <a href="https://github.com/MichaelSoquat"><img src="assets/img/github-fill.png"></a>
        <a href="https://www.linkedin.com/in/michael-soquat-2b1a70232/"><img src="assets/img/linkedin-box-fill.png"></a>
        <a href="https://www.xing.com/profile/Michael_Soquat"><img src="assets/img/xing-fill.png"></a>
    </div>
</div>