.container-footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    border-top: 2px solid rgba(0, 0, 0, 0.13);

    img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .imprint {
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin-right: 120px;

        &:hover {
            text-decoration: underline;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 1100px) {
    .container-footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .imprint {
        margin-right: 40px !important;
    }
}

@media (max-width: 560px) {
    .data-container {
        display: flex;
        flex-direction: column;
    }

    .imprint {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    img {
        margin-left: 10px !important;
    }
}
@media(max-width: 500px) {
    .container-footer {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .imprint {
        margin-right: 0 !important;
    }
}
@media (max-width: 430px) {
    img {
        width: 40px !important;
        height: 40px !important;
    }
}
