.container {
    background-color: black;
    overflow: hidden;
}

#changeDescription {
    animation: ctype 6s steps(21);
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0;
}
@keyframes ctype {
    0% {
        width: 0%;
    }
    40% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes animationRight {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes animationLeft {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.container-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 120px;
    height: calc(75vh - 80px);

    .container-info {
        display: block;
        margin-right: 80px;
        animation: animationLeft 500ms ease-in-out;
        width: 50%;
    }

    h1 {
        font-size: 64px;
        color: white;
        margin-bottom: 80px;
    }

    .my-name {
        color: #fa2759;
    }

    .other-color {
        color: #2dfcd8;
    }

    img {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 40px;
        margin-left: 80px;
        animation: animationRight 750ms ease-in-out;
    }

    .center {
        width: 180px;
        height: 60px;
        position: absolute;
    }

    .btn {
        width: 180px;
        height: 60px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #2dfcd8;
        color: #2dfcd8;
        font-size: 18px;
        border-radius: 4px;
        outline: none;
        transition: 500ms ease-in-out;
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 300 480;
        stroke-dashoffset: 300;
        transition: 500ms ease-in-out;
    }

    .btn:hover {
        transition: 1s ease-in-out;
        background: #2dfcd960;
        color: white;
    }

    .btn:hover svg {
        stroke-dashoffset: -480;
    }

    .btn span {
        color: white;
        font-size: 18px;
        font-weight: 100;
    }
}

.container-arrow {
    background-color: black;
    padding-top: 140px;
    padding-bottom: 20px;
    $circle-w: 100px;
    $circle-bg: rgb(0, 0, 0);
    $arrow-bg: #ffffff;
    $body-bg: #000000;
    $bezier: cubic-bezier(0.77, 0, 0.175, 1);
    $bezier-bounce: cubic-bezier(0.87, -0.41, 0.19, 1.44);
    $anim-timing: 3s;

    html,
    body {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    body {
        background-color: $body-bg;
    }

    .icon {
        margin: 0 auto;
        text-align: center;
        width: $circle-w;
        height: $circle-w;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        filter: url("#goo");
        .circle {
            background: $circle-bg;
            border-radius: 50%;
            display: inline-block;
            height: $circle-w;
            width: $circle-w;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transform-origin: 0%;

            &.circle-top {
                height: $circle-w / 3;
                width: $circle-w / 2.4;
                animation: blob-1-anim $anim-timing $bezier infinite;
                z-index: 0;
                top: 0;
            }
            &.circle-bottom {
                height: $circle-w / 3;
                width: $circle-w / 2.4;
                animation: blob-2-anim $anim-timing $bezier infinite;
                z-index: 9;
                bottom: 0px;
            }
        }

        .st-arrow {
            fill: $arrow-bg;
            animation: scrolly $anim-timing $bezier forwards infinite;
            perspective: 9000px;
            transform: translateZ(0);
            transform-origin: bottom;
        }
    }

    .svg {
        z-index: 9;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    // keyframes for arrow animation

    @keyframes blob-1-anim {
        0% {
            transform: translateX(-50%) translateY(0);
        }
        14% {
            transform: translateX(-50%) translateY(-8px);
        }
        24% {
            transform: translateX(-50%) translateY(0);
        }
        100% {
            transform: translateX(-50%) translateY(0);
        }
    }

    @keyframes blob-2-anim {
        0% {
            transform: scale(1) translate(-50%, 10px);
        }
        30% {
            transform: scale(1) translate(-50%, 10px);
        }
        70% {
            transform: scale(1) translate(-50%, 10px);
        }
        95% {
            transform: scale(1) translate(-50%, 26px);
        }
        100% {
            transform: scale(1) translate(-50%, 10px);
        }
    }

    @keyframes scrolly {
        0% {
            transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
        }
        30% {
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
        }
        70% {
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
        }
        95% {
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        }
        100% {
            transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
        }
    }
}
