<div id="aboutMe" class="container">
    <div class="container-explain">
        <div class="explain-me explain-border">
            <img src="assets/img/Soquat.png">
            <span class="short-explain">
                <h2>About me.</h2>
                "I´m someone who loves spending time into front end developing.<br>
                 I cannot stop debugging until everything works perfectly."
                
            </span>
        </div>
    </div>
    <div class="container-my-journey">
        <div class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/walk-line.png">
            </div>
            <h3>MY JOURNEY BEGAN</h3>
            <span>First i started a career as a police officer.
                At the moment i am instructor for tactical training,
                shooting and self-defence.
                I started programming as a hobby.</span>
        </div>
        <div  class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/heart-line.png">
            </div>
            <h3>I FELL IN LOVE</h3>
            <span>I really enjoy developing software. 
                For this reason I want to turn my hobby into my profession.</span>
        </div>
        <div  class="my-journey">
            <div class="my-journey-pic">
                <img src="assets/img/search-line.png">
            </div>
            <h3>I SEARCHED</h3>
            <span>I wanted to accelerate my learning progress.
                Therefore i searched the internet and found the Developer Academy.</span>
        </div>
        <div  class="my-journey">
            <div class="my-journey-pic new-challenges">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h3>NEW CHALLENGES</h3>
            <span>I am now looking for new challenges to work
                as a software developer.</span>
        </div>
    </div>
</div>
