//general

.container {
    background-color: #1a1a1a;
    padding-bottom: 120px;
    padding-top: 40px;
}
.container-explain {
    display: flex;
    justify-content: center;
    align-items: center;

    .explain-me {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: 80%;

        .short-explain {
            font-size: 18px;
            color: white;
            margin-left: 80px;
            margin-bottom: 100px;
        }

        h2 {
            font-size: 36px;
        }
    }
    .explain-border {
        border-bottom: 2px solid #2dfcd8 !important;
    }
}

.container-my-journey {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    padding-left: 120px;
    padding-right: 120px;

    .my-journey {
        font-size: 18px;
        color: white;
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h3 {
            font-size: 24px;
        }

        .my-journey-pic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #2dfcd8;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }
}

.bgImg {
    border-radius: 50%;
    animation: animationRight 500ms ease-in-out;
    background-image: url("/assets/img/Soquat2.jpg");
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-right: 80px;
    margin-bottom: 80px;
}

// medias

@media (max-width: 1100px) {
    .container-my-journey {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1024px) {
    .container-explain {
        .explain-me {
            img {
                width: 150px;
                height: 150px;
            }

            .short-explain {
                margin-left: 50px;
            }
        }
    }

    .container-my-journey {
        .my-journey {
            h4 {
                font-size: 20px;
            }

            .my-journey-pic {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-width: 850px) {
    .container {
        height: unset;
        .container-explain {
            .explain-me {
                flex-direction: column;

                img {
                    margin-right: 0px;
                }
            }
        }

        .container-my-journey {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;

            .my-journey {
                width: 80%;
                padding-top: 50px;

                .new-challenges {
                    margin-top: 50px;
                }

                .my-journey-pic {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .container-explain {
        .explain-me {
            img {
                height: 120px;
                width: 120px;
            }
        }
    }

    .container-my-journey {
        margin-top: 50px;
        .my-journey {
            .new-challenges {
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 300px) {
    .container {
        padding-bottom: 20px;
    }

    .container-my-journey {
        .my-journey {
            font-size: 14px;
            .new-challenges {
                margin-top: 40px;
            }
            .my-journey-pic {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-height: 1366px) {
    .container {
        height: 100%;
    }
}
