.container-my-skills {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 120px;
    font-size: 48px;
    color: white;
}

.container-skills {
    display: flex;
    justify-content: center;
    align-items: center;

    .my-skills {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        height: 150px;
        width: 250px;
        background-color: white;
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
        text-align: center;
    }

    .icon-img {
        margin-top: -40px;
        margin-bottom: 20px;
        z-index: 1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);

        img {
            height: 50px;
            width: 50px;
        }
    }
}

@media (max-width: 1000px) {
    .container-my-skills{
        height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    h2 {
        margin-top: 80px;
        font-size: 40px;
    }
    .container-skills {
        .my-skills {
            height: 100px;
            width: 200px;
        }

        .icon-img {
            margin-bottom: 15px;
            width: 60px;
            height: 60px;
        }

        img {
            height: 30px;
            width: 30px;
        }
    }
}

@media (max-width: 800px) {
    .container-skills {
        flex-direction: column;

        .my-skills {
            width: 250px;
            height: 150px;
        }

        .icon-img {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 310px) {
    .container-skills {
        .my-skills {
            width: 200px;
            height: 100px;
        }
    }
}

@media (max-height: 768px) {
    .container-my-skills{
        height: 100%;
    }
}



