<section id="myskills" class="container-my-skills">
    <h2>My Skills</h2>
    <div data-aos="flip-left" data-aos-duration="800" class="container-skills">
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/html-5.png">
            </div>
            HTML
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/Group 205.png">
            </div>
            CSS
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/js.png">
            </div>
            JavaScript
        </div>
    </div>

    <div data-aos="flip-right" data-aos-duration="800" class="container-skills">
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/icons8-angularjs-48.png">
            </div>
            Angular
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/firebase.png">
            </div>
            Firebase
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/icons8-database-52 2.png">
            </div>
            Database
        </div>
    </div>

    <div data-aos="flip-up" data-aos-duration="800" class="container-skills">
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/Group 226.png">
            </div>
            SCRUM
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/Git-Icon-1788C 2.png">
            </div>
            Git
        </div>
        <div class="my-skills">
            <div class="icon-img">
                <img src="assets/img/icons8-rest-api-80 2.png">
            </div>
            Rest API
        </div>
    </div>
</section>