.container-my-work {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    overflow: hidden;

    h2 {
        font-size: 48px;
        color: white;
        margin-bottom: 80px;
        margin-top: 80px;
    }

    .selection-switches {
        position: relative;
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 60px;

        .isSelected {
            background-color: #fa2759;
            color: white;
        }

        .center {
            width: 180px;
            height: 60px;
            position: relative;
            margin-right: 20px;
            margin-left: 20px;
        }

        .btn {
            width: 180px;
            height: 60px;
            cursor: pointer;
            background: transparent;
            border: 1px solid #fa2759;
            color: white;
            font-size: 18px;
            border-radius: 4px;
            outline: none;
            transition: 500ms ease-in-out;
        }

        .btn:hover {
            transition: 0.7s ease-in-out;
            background: #fa275893;
            color: white;
        }

        .btn span {
            color: white;
            font-size: 18px;
            font-weight: 100;
        }
    }

    .d-none {
        display: none;
    }

    .container-picture {
        display: flex;
        justify-content: center;

        img {
            object-fit: cover;
            height: 250px;
            width: 500px;
            margin: 25px;
        }

        .sharky {
            box-shadow: 5px 5px 21px -6px rgba(255, 255, 255, 0.57);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            height: 350px;
            width: 500px;
            margin: 25px;
            background-image: url("/assets/img/Sharky.png");
            background-size: cover;
            background-position: center;
            font-size: 0px;

            $speed: 0.5s;
            &:hover {
                transform: scaleX(1.05);
                .container-Link {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: column;
                    color: #fa2759;

                    .btn-flip {
                        margin-top: 60px;
                        opacity: 1;
                        outline: 0;
                        background-color: rgba(255, 255, 255, 0.699);
                        width: 180px;
                        height: 60px;
                        border: 3px solid #fa2759;
                        line-height: 60px;
                        position: relative;
                        text-align: center;
                        letter-spacing: 1px;
                        display: inline-block;
                        text-decoration: none;
                        box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.2);
                        font-size: 18px;
                        margin-bottom: 20px;

                        &:hover {
                            &:after {
                                opacity: 1;
                                transform: translateY(0) rotateX(0);
                            }

                            &:before {
                                opacity: 0;
                                transform: translateY(50%) rotateX(90deg);
                            }
                        }

                        &:after {
                            top: 0;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                            color: white;
                            display: block;
                            transition: $speed;
                            position: absolute;
                            background: #fa2759;
                            content: attr(data-back);
                            transform: translateY(-50%) rotateX(90deg);
                        }

                        &:before {
                            top: 0;
                            left: 0;
                            opacity: 1;
                            color: #fa2759;
                            display: block;
                            padding: 0 30px;
                            line-height: 60px;
                            transition: $speed;
                            position: relative;
                            background: rgba(255, 255, 255, 0.699);
                            content: attr(data-front);
                            transform: translateY(0) rotateX(0);
                        }
                    }
                }
            }
        }

        .lieferando {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            height: 350px;
            width: 500px;
            margin: 25px;
            background-image: url("/assets/img/dönerparadies.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0px;
            box-shadow: 5px 5px 21px -6px rgba(255, 255, 255, 0.57);

            $speed: 0.5s;
            &:hover {
                transform: scaleX(1.05);
                .container-Link {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: column;
                    color: #fa2759;

                    .btn-flip {
                        margin-top: 60px;
                        opacity: 1;
                        outline: 0;
                        background-color: rgba(255, 255, 255, 0.699);
                        width: 180px;
                        height: 60px;
                        border: 3px solid #fa2759;
                        line-height: 60px;
                        position: relative;
                        text-align: center;
                        letter-spacing: 1px;
                        display: inline-block;
                        text-decoration: none;
                        box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.2);
                        font-size: 18px;
                        margin-bottom: 20px;
                        &:hover {
                            &:after {
                                opacity: 1;
                                transform: translateY(0) rotateX(0);
                            }

                            &:before {
                                opacity: 0;
                                transform: translateY(50%) rotateX(90deg);
                            }
                        }

                        &:after {
                            top: 0;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                            color: white;
                            display: block;
                            transition: $speed;
                            position: absolute;
                            background: #fa2759;
                            content: attr(data-back);
                            transform: translateY(-50%) rotateX(90deg);
                        }

                        &:before {
                            top: 0;
                            left: 0;
                            opacity: 1;
                            color: #fa2759;
                            display: block;
                            padding: 0 30px;
                            line-height: 60px;
                            transition: $speed;
                            position: relative;
                            background: rgba(255, 255, 255, 0.699);
                            content: attr(data-front);
                            transform: translateY(0) rotateX(0);
                        }
                    }
                }
            }
        }

        .pokedex {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            height: 350px;
            width: 500px;
            margin: 25px;
            background-image: url("/assets/img/Pokemon.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            font-size: 0px;
            box-shadow: 5px 5px 21px -6px rgba(255, 255, 255, 0.57);

            $speed: 0.5s;
            &:hover {
                transform: scaleX(1.05);
                .container-Link {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: column;
                    text-align: center;
                    color: #fa2759;

                    .btn-flip {
                        margin-top: 60px;
                        opacity: 1;
                        outline: 0;
                        background-color: rgba(255, 255, 255, 0.699);
                        width: 180px;
                        height: 60px;
                        border: 3px solid #fa2759;
                        line-height: 60px;
                        position: relative;
                        text-align: center;
                        letter-spacing: 1px;
                        display: inline-block;
                        text-decoration: none;
                        box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.2);
                        font-size: 18px;
                        margin-bottom: 20px;

                        &:hover {
                            &:after {
                                opacity: 1;
                                transform: translateY(0) rotateX(0);
                            }

                            &:before {
                                opacity: 0;
                                transform: translateY(50%) rotateX(90deg);
                            }
                        }

                        &:after {
                            top: 0;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                            color: white;
                            display: block;
                            transition: $speed;
                            position: absolute;
                            background: #fa2759;
                            content: attr(data-back);
                            transform: translateY(-50%) rotateX(90deg);
                        }

                        &:before {
                            top: 0;
                            left: 0;
                            opacity: 1;
                            color: #fa2759;
                            display: block;
                            padding: 0 30px;
                            line-height: 60px;
                            transition: $speed;
                            position: relative;
                            background: rgba(255, 255, 255, 0.699);
                            content: attr(data-front);
                            transform: translateY(0) rotateX(0);
                        }
                    }
                }
            }
        }

        .join {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            height: 350px;
            width: 500px;
            margin: 25px;
            background-image: url("/assets/img/Join.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0px;
            box-shadow: 5px 5px 21px -6px rgba(255, 255, 255, 0.57);

            $speed: 0.5s;
            &:hover {
                transform: scaleX(1.05);
                .container-Link {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: column;
                    color: #fa2759;
                    .btn-flip {
                        margin-top: 60px;
                        opacity: 1;
                        outline: 0;
                        background-color: rgba(255, 255, 255, 0.699);
                        width: 180px;
                        height: 60px;
                        border: 3px solid #fa2759;
                        line-height: 60px;
                        position: relative;
                        text-align: center;
                        letter-spacing: 1px;
                        display: inline-block;
                        text-decoration: none;
                        box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.2);
                        font-size: 18px;
                        margin-bottom: 20px;

                        &:hover {
                            &:after {
                                opacity: 1;
                                transform: translateY(0) rotateX(0);
                            }

                            &:before {
                                opacity: 0;
                                transform: translateY(50%) rotateX(90deg);
                            }
                        }

                        &:after {
                            top: 0;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                            color: white;
                            display: block;
                            transition: $speed;
                            position: absolute;
                            background: #fa2759;
                            content: attr(data-back);
                            transform: translateY(-50%) rotateX(90deg);
                        }

                        &:before {
                            top: 0;
                            left: 0;
                            opacity: 1;
                            color: #fa2759;
                            display: block;
                            padding: 0 30px;
                            line-height: 60px;
                            transition: $speed;
                            position: relative;
                            background: rgba(255, 255, 255, 0.699);
                            content: attr(data-front);
                            transform: translateY(0) rotateX(0);
                        }
                    }
                }
            }
        }

        .angularSite {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            height: 350px;
            width: 500px;
            margin: 25px;
            background-image: url("/assets/img/Homepage.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0px;
            box-shadow: 5px 5px 21px -6px rgba(255, 255, 255, 0.57);

            $speed: 0.5s;
            &:hover {
                transform: scaleX(1.05);
                .container-Link {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: column;
                    color: #fa2759;
                    .btn-flip {
                        margin-top: 60px;
                        opacity: 1;
                        outline: 0;
                        background-color: rgba(255, 255, 255, 0.699);
                        width: 180px;
                        height: 60px;
                        border: 3px solid #fa2759;
                        line-height: 60px;
                        position: relative;
                        text-align: center;
                        letter-spacing: 1px;
                        display: inline-block;
                        text-decoration: none;
                        box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.2);
                        font-size: 18px;
                        margin-bottom: 20px;

                        &:hover {
                            &:after {
                                opacity: 1;
                                transform: translateY(0) rotateX(0);
                            }

                            &:before {
                                opacity: 0;
                                transform: translateY(50%) rotateX(90deg);
                            }
                        }

                        &:after {
                            top: 0;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                            color: white;
                            display: block;
                            transition: $speed;
                            position: absolute;
                            background: #fa2759;
                            content: attr(data-back);
                            transform: translateY(-50%) rotateX(90deg);
                        }

                        &:before {
                            top: 0;
                            left: 0;
                            opacity: 1;
                            color: #fa2759;
                            display: block;
                            padding: 0 30px;
                            line-height: 60px;
                            transition: $speed;
                            position: relative;
                            background: rgba(255, 255, 255, 0.699);
                            content: attr(data-front);
                            transform: translateY(0) rotateX(0);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .container-my-work {
        .container-picture {
            img {
                height: 250px;
                width: 400px;
            }

            .sharky {
                height: 250px;
                width: 400px;
            }

            .angularSite {
                height: 250px;
                width: 400px;
            }

            .join {
                height: 250px;
                width: 400px;
            }

            .lieferando {
                height: 250px;
                width: 400px;
            }

            .pokedex {
                height: 250px;
                width: 400px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container-my-work {
        height: unset;

        .container-picture {
            img {
                height: 200px;
                width: 300px;
            }

            .sharky {
                height: 200px;
                width: 300px;
                &:hover {
                    .container-Link {
                        font-size: 18px;
                        .btn-flip {
                            width: 120px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 10px;

                            &:before {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }

            .angularSite {
                height: 200px;
                width: 300px;

                &:hover {
                    .container-Link {
                        font-size: 18px;
                        .btn-flip {
                            width: 120px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 10px;

                            &:before {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }

            .join {
                height: 200px;
                width: 300px;

                &:hover {
                    .container-Link {
                        font-size: 18px;
                        .btn-flip {
                            width: 120px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 10px;

                            &:before {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }

            .lieferando {
                height: 200px;
                width: 300px;

                &:hover {
                    .container-Link {
                        font-size: 18px;
                        .btn-flip {
                            width: 120px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 10px;

                            &:before {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }

            .pokedex {
                height: 200px;
                width: 300px;

                &:hover {
                    .container-Link {
                        font-size: 18px;
                        .btn-flip {
                            width: 120px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 10px;

                            &:before {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .container-my-work {
        .selection-switches {
            .center {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 780px) {
    .container-my-work {
        h2 {
            margin-bottom: 60px;
        }
        .selection-switches {
            flex-direction: column;
            margin-bottom: 40px;

            .center {
                margin-bottom: 20px;
            }
        }

        .container-picture {
            flex-direction: column;
        }
    }
}

@media (max-width: 380px) {
    .container-my-work {
        .container-picture {
            .sharky {
                margin-left: 0px;
                margin-right: 0px;
            }

            .angularSite {
                margin-left: 0px;
                margin-right: 0px;
            }

            .join {
                margin-left: 0px;
                margin-right: 0px;
            }

            .lieferando {
                margin-left: 0px;
                margin-right: 0px;
            }

            .pokedex {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 350px) {
    .container-my-work {
        .container-picture {
            img {
                height: 150px;
                width: 200px;
            }

            .sharky {
                height: 150px;
                width: 200px;
                &:hover {
                    .container-Link {
                        font-size: 14px;
                        .btn-flip {
                            font-size: 10px;
                            margin-top: 20px;
                        }
                    }
                }
            }

            .angularSite {
                height: 150px;
                width: 200px;
                &:hover {
                    .container-Link {
                        font-size: 14px;
                        .btn-flip {
                            font-size: 10px;
                            margin-top: 20px;
                        }
                    }
                }
            }

            .join {
                height: 150px;
                width: 200px;
                &:hover {
                    .container-Link {
                        font-size: 14px;
                        .btn-flip {
                            font-size: 10px;
                            margin-top: 20px;
                        }
                    }
                }
            }

            .lieferando {
                height: 150px;
                width: 200px;
                &:hover {
                    .container-Link {
                        font-size: 14px;
                        .btn-flip {
                            font-size: 10px;
                            margin-top: 20px;
                        }
                    }
                }
            }

            .pokedex {
                height: 150px;
                width: 200px;
                &:hover {
                    .container-Link {
                        font-size: 12px;
                        .btn-flip {
                            font-size: 10px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

.cplusplus {
    height: 150px;
    width: 200px;
    &:hover {
        .container-Link {
            font-size: 12px;
            .btn-flip {
                font-size: 10px;
                margin-top: 20px;
            }
        }
    }
}

@media (max-height: 1024px) {
    .container-my-work {
        height: 100%;
    }
}
