<div id="myWork" class="container-my-work">
    <h2>My Work</h2>
    <div class="selection-switches">
        <div id="all" class="center">
            <button class="btn">
                All
            </button>
        </div>
        <div id="angular" class="center">
            <button class="btn">
                Angular
            </button>
        </div>
        <div id="javaScript" class="center">
            <button class="btn">
                JavaScript
            </button>
        </div>
        
    </div>
    <div id="containerJS" class="container-picture">
        <div  class="join">
            <div class="container-Link">
                Coordinate your work with Join
                <a href="#" class="btn-flip" data-back="Join"
                    data-front="Try it out"></a>
            </div>
        </div>
        <div class="pokedex">
            <div class="container-Link">
                Collection of pokemons
                <a href="#" class="btn-flip" data-back="Pokedex" data-front="Try it out"></a>
            </div>
        </div>
    </div>
    <div id="containerJavaScript" class="container-picture">
        <div class="lieferando">
            <div class="container-Link">
                Restaurant site
                <a href="#" class="btn-flip" data-back="Döner Paradies" data-front="Try it out"></a>
            </div>
        </div>
        <div class="sharky">
            <div class="container-Link">
                2D Game
                <a href="#" class="btn-flip" data-back="Sharky" data-front="Try it out"></a>
            </div>
        </div>
    </div>
    <div id="containerAngular" class="container-picture">
        <div class="angularSite">
            <div class="container-Link">
                My Homepage
                <a href="#" class="btn-flip" data-back="This site" data-front="Try it out"></a>
            </div>
        </div>

    </div>
</div>