<header [class.headerDark]="darkMode">


    <img *ngIf="!darkMode" routerLink="/" src="assets/img/logoWhite.png">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/logoBlack.png">

    <div class="container-link">
        <a (click)="toMyHome()" class="btn" routerLink="/">Home</a>
        <a (click)="toMySkill()" class="btn" >My Skills</a>
        <a (click)="toMyWork()" class="btn" >My Work</a>
        <a (click)="toAboutMe()" class="btn" >About Me</a>
        <a (click)="toMyContact()" class="btn"  >Contact Me</a>
    </div>
</header>