<div class="full-height">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Michael Soquat<br />
        Am Vogelbaum 10<br />
        92289 Ursensollen</p>

    <h2>Kontakt</h2>
    <p>Telefon: 017641750885<br />
        E-Mail: michael.soquat@gmx.de</p>

    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>

    <p>Urheberrechte

        Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website,
        gehören ausschliesslich Michael Soquat oder den speziell genannten Rechteinhabern. Für die Reproduktion
        jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.
        <br><br>

        The icons are from:
        <br><br>
        - www.icons8.com<br>
        - www.iconsdb.com<br>
        - www.flaticon.com<br>
        - www.remixicon.com<br><br>
        Created my free logo at LogoMakr.com

    </p>
</div>